<ion-header>
  <ion-toolbar style="--ion-background-color: rgb(26, 26, 26, 1);">
    <ion-title style="text-align: center; color: rgb(255, 255, 255, 1);">Perfil de Chofer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color:#FFB800;">
  <ion-card class="perfil">
    <ion-card-header>
      <ion-card-title>{{datos.nombre}}</ion-card-title>
      <ion-card-subtitle>{{datos.carrera}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Nombre:  {{datos.nombre}}<br> 
      Tipo: Chofer <br>
      Telefono: {{datos.telefono}} <br> 
      Sede: {{datos.Sede}} <br>
      correo: {{datos.correo}}
    </ion-card-content>
    
  </ion-card>

</ion-content>

<ion-footer>

  <ion-toolbar style="--ion-background-color: rgb(26, 26, 26, 1);">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="speakers" (click)="Cerrar()">
          <ion-icon name="arrow-undo-circle-outline" (click)="Cerrar()"></ion-icon>
          <ion-label>Salir</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="schedule" (click)="GoViaje()">
          <ion-icon name="add"  (click)="GoViaje()"></ion-icon>
          <ion-label>Crear Viaje</ion-label>
          
        </ion-tab-button>
    
        <ion-tab-button tab="speakers" (click)="GoPerfil()">
          <ion-icon name="person-circle" (click)="GoPerfil()"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>
        
        <ion-tab-button tab="speakers" (click)="GoHistorial()">
          <ion-icon name="list" (click)="GoHistorial()"></ion-icon>
          <ion-label>Historial</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

  </ion-toolbar>

</ion-footer>
