<ion-header>
  <ion-toolbar style="--ion-background-color: rgb(26, 26, 26, 1);">
    <ion-title style="text-align: center; color: rgb(255, 255, 255, 1);">TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color:#FFB800;">
  <div class="y">
    <h5 style="text-align: center;">Bienvenido <br> 
      Alexander Busto</h5>
    <img src="../../../assets/imagenes_A/kil.png" alt="" width="" height="250px">
  </div>
  <br>
  <div style="margin-left: 5%; margin-right: 5%">
    <ion-button expand="block" (click)="GoCapacidad()">Buscar Transporte</ion-button>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar style="--ion-background-color: rgb(26, 26, 26, 1);">
    <ion-tabs >
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="speakers" (click)="GoHome()">
          <ion-icon name="arrow-undo-circle-outline" (click)="GoHome()"></ion-icon>
          <ion-label>Salir</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>