.x{
    --ion-background-color:#FFB800;

    /*--background: url(../../../../assets/imagenes_A/fondo.jpg) 0 0/100% 100% no-repeat;
    */
}

.perfil{
    --ion-background-color: linear-gradient(200deg, rgba(102, 102, 102, 1) 10%, rgb(238, 238, 238, 1) 80%);
    margin-top: 10%;
    color: rgb(26, 26, 26, 1);
}

ion-card-subtitle {
    color: rgb(26, 26, 26, 1);
    font-size: 11px;
}

ion-card-title{
    color: rgb(26, 26, 26, 1);
    font-size: 15px;
}

ion-card-content {
    color: rgb(26, 26, 26, 1);
    font-size: 12px;
}