<ion-header>
  <ion-toolbar style="--ion-background-color: rgb(26, 26, 26, 1);">
    <ion-title style="text-align: center; color: rgb(255, 255, 255, 1);">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="x">

  <div id="contaniner">
    <form class="formulario" style="font-size: 70%;" [formGroup]="FormularioRegistro" (keyup.enter)="guardar()">

      <ion-item>
        <ion-select formControlName="categoriaUsuario" placeholder="Seleccionar">
          <ion-select-option value="1">Chofer</ion-select-option>
          <ion-select-option value="2">Estudiante</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <ion-label style="color: black;" position="floating">Nombre completo</ion-label>
        <ion-input formControlName="nombre" type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label style="color: black;" position="floating">Sede - Duoc Uc</ion-label>
        <ion-input formControlName="Sede" type="text"></ion-input>
      </ion-item>
  
      <ion-item>   
        <ion-label style="color: black;" position="floating">Carrera</ion-label>
        <ion-input formControlName="carrera" type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label style="color: black;" position="floating">Telefono</ion-label>
        <ion-input formControlName="telefono" type="number" min="0" size="4" maxlength="4"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label style="color: black;" position="floating">Correo</ion-label>
        <ion-input formControlName="correo" type="email" placeholder="example@example.com"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label style="color: black;" position="floating">Contraseña</ion-label>
        <ion-input formControlName="contrasena" type="password"></ion-input>
      </ion-item>
  
      <ion-item>
        <div style="flex: auto">
          <ion-button (click)="guardar()" expand="block">Registro</ion-button>
        </div>
      </ion-item>
    </form>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar style="--ion-background-color: rgb(26, 26, 26, 1);">
    <ion-tabs>
      <ion-tab-bar slot="bottom" style="color: rgb(255, 255, 255);">
        <ion-tab-button tab="speakers" (click)="GoHome()">
          <ion-icon name="arrow-undo-circle-outline" (click)="GoHome()"></ion-icon>
          <ion-label>Salir</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
