<ion-content [fullscreen]="true" class="x">

  <div id="container" class="y">
    <form action="" style="Background-color: transparent;" [formGroup]="formularioL">
      <ion-item class="login">
        <ion-label style="color: black;" position="floating">Usuario</ion-label>
        <ion-input formControlName="usuario"></ion-input>
      </ion-item>
      <ion-item class="login">
        <ion-label style="color: black;" position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
    </form>
    <div>
      <ion-buttons slot="end" style="margin-top: 5%;">
        <ion-button (click)="validarIngreso()" style="color: rgb(255, 255, 255);">Ingresar</ion-button>
        <ion-button (click)="GoRegistro()" style="color: rgb(255, 255, 255); margin-left: auto;">Registrarse</ion-button>
      </ion-buttons>
      <ion-button (click)="GetEstudiantes()" style="color: rgb(255, 255, 255);">Validar BD</ion-button>
      <ion-button (click)="GoIndex_Chofer()" style="color: rgb(255, 255, 255);">Chofer</ion-button>
      <ion-button (click)="GoEstudiante()" style="color: rgb(255, 255, 255);">estudiante</ion-button>
    </div>
  </div>
</ion-content>

